.library {
  background-color: #f5f8fa;
  padding: 2rem 0;
}
.library__heading {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library__heading h2 {
  font-size: 1.1rem;
}
.library__heading > button {
  padding: 0.5rem 2rem;
  color: white;
  background-color: rgb(53, 53, 202);
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 12px;
}
.library__filters {
  display: flex;
  margin: 1rem 0 3rem 0;
  justify-content: space-between;
  padding: 0 2rem;
}
.library__input {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 30px;
}
.library__input input {
  border: none;
  outline: none;
  padding: 0.4rem;
  font-size: 1rem;
}
.library__filter {
  display: flex;
}
.library__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.8rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.library__dropdown h5 {
  margin-right: 2rem;
  color: grey;
  font-weight: 500;
  font-size: 0.9rem;
}
.library__table {
  width: 100%;
  text-align: left;
  background-color: #fafafa;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.library__tableHead {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(49, 48, 48);
}
.library__tableImg {
  display: flex;
  align-items: center;
}
.library__tableBody > img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 0.5rem;
  border-radius: 10px;
}
.library__tableBody > span {
  margin-right: 2rem;
  line-height: 1.7;
}
.library__tableBody {
  width: 350px;
  font-size: 0.9rem;
  margin: 1rem 0;
  cursor: pointer;
}
.library__foter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.library__pageCount {
  display: flex;
  align-items: center;
}
.library__pageCount > p {
  font-size: 0.9rem;
}
.library__pageCount > select {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
}
.paginateBtn {
  display: flex;
  list-style: none;
  justify-content: center;
}
.paginateBtn a {
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}
.paginateActive {
  color: blue;
}
.paginationDisabled {
  pointer-events: none;
  color: rgb(75, 74, 74);
}
.invitation__input {
  display: flex;
  justify-content: space-between;
}
