@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15.5px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
.app {
  display: flex;
}
